
* {
  font-family: 'Open Sans', Calibri, sans-serif;
}

div.navbar-wrapper {
  div.navbar.navbar-inverse {
    margin-top: 10px;
  }
}

/*img#img-reception {
  margin-bottom: 10px;
}*/

div#content-container {
  margin-top: 20px;
}

div#footer {
  margin-bottom: 30px;
}
