
* {
  font-family: 'Open Sans', Calibri, sans-serif;
}

div#my-jumbotron {
  margin-top: 70px;
}

div#footer {
  margin-bottom: 30px;
}

div.color-support {
  margin-bottom: 15px;
  
  div {
    padding: 10px 20px;
    font-weight: bold;
    
    h4 {
      font-weight: bold;
    }
    
    $corner : 5px;
    &:first-child {
      border-radius: $corner $corner 0 0;
    }
    &:last-child {
      border-radius: 0 0 $corner $corner;
    }
    
    span.pull-right {
      /*font-family: 'Consolas', 'Courier New', serif;*/
    }
  }
}

div.big-border {
  border-width: 4px;
}