/* CSS for SASS work */
* {
  font-family: 'Open Sans', Calibri, sans-serif;
  transition: all 500ms ease;
}

div#my-jumbotron {
  margin-top: 70px;
}

div#footer {
  margin-bottom: 30px;
}

div.color-support {
  margin-bottom: 15px;
}

div.color-support div {
  padding: 10px 20px;
  font-weight: bold;
}

div.color-support div h4 {
  font-weight: bold;
}

div.color-support div:first-child {
  border-radius: 5px 5px 0 0;
}

div.color-support div:last-child {
  border-radius: 0 0 5px 5px;
}
